*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-dark;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-light;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.container_songs{
  flex-flow: column wrap;
}

.flex {
  display: flex;
  flex-flow: column wrap;
}