.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0;
}

.navigation {
  display: flex;
}

.main-nav {
  a {
    font-size: 30px;
    line-height: 27px;
    font-family: SourceSansPro-Semibold;
    color: $color-second;
    text-transform: uppercase;
    margin: 0 68px;

    &:hover{
      color: $color-light;
    }
  }
}


.footer{
  display: flex;
  font-size: 20px;
  line-height: 27px;
  font-family: SourceSansPro-Regular;
  color: $color-second;
  letter-spacing: 4px;
}