
.page_title {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 60px;
  line-height: 27px;
  font-family: SourceSansPro-Semibold;
  letter-spacing: 10px;
  color: $color-second;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}