/* Variables */

$color-dark: #131313;
$color-light: #fff;
$color-second: #BFBFBF;
$color-main: #CF383E;


// $font-header: 'Oswald', sans-serif;
// $font-text: 'Lato', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;
