.subscribe {
  background: url("../images/subscribe.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: $color-light;
  margin-top: 150px;
  position: relative;

  &_container {
    position: relative;
    height: 100%;
  }

  &_imageartist {
    background: url("../images/artist.jpg") no-repeat center center;
    background-size: cover;
    width: 300px;
    height: 400px;
  }

  &_title {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: SourceSansPro-Black;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 60px;
    text-transform: uppercase;
    margin: 0;
  }

  &_button {
    position: absolute;
    top: 58%;
    left: 0%;
    transform: translate(-0%, -50%);
    width: 313px;
    height: 133px;
    background: $color-main;
    font-size: 40px;
    font-family: SourceSansPro-Bold;
    border-radius: 12px;
    border-color: $color-main;
    color: $color-light;
    text-transform: uppercase;
  }
}
