.subscribe {
  background: url("../images/subscribe.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 1000px;
  color: $color-light;
  margin-top: 150px;
  position: relative;

  &_container {
    position: relative;
    height: 100%;
  }

  &_imageartist {
    position: absolute;
    right: 40px;
    bottom: 25%;
    background: url("../images/artist.jpg") no-repeat center center;
    background-size: cover;
    width: 465px;
    height: 578px;
  }

  &_title {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: SourceSansPro-Regular;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 15px;
    margin: 0;
    width: 100%;
    text-align: center;

    span {
      font-family: SourceSansPro-Black;
    }
  }

  &_artist_name {
    position: absolute;
    right: 505px;
    bottom: 33%;
    font-size: 100px;
    font-family: SourceSansPro-Black;
    letter-spacing: 15px;
  }

  &_artist_lname {
    position: absolute;
    right: 295px;
    bottom: 21%;
    font-size: 100px;
    font-family: SourceSansPro-Black;
    letter-spacing: 15px;

    span {
      color: $color-main;
    }
  }

  &_button {
    position: absolute;
    top: 58%;
    left: 0%;
    transform: translate(-0%, -50%);
    width: 313px;
    height: 133px;
    background: $color-main;
    font-size: 40px;
    font-family: SourceSansPro-Bold;
    border-radius: 12px;
    border-color: $color-main;
    color: $color-light;
    cursor: pointer;
  }

  &_available {
    position: absolute;
    right: 0px;
    bottom: 6%;
    font-size: 40px;
    font-family: SourceSansPro-Semibold;
    letter-spacing: 7px;
  }

  &_album {
    position: absolute;
    right: 0px;
    bottom: 12%;
    font-size: 40px;
    font-family: SourceSansPro-Bold;
    color: $color-second;
    letter-spacing: 7px;
  }
}

.categories {
  display: flex;
  justify-content: center;
  font-size: 28px;
  line-height: 27px;
  font-family: SourceSansPro-Semibold;
  letter-spacing: 4px;

  &_list {
    li {
      display: inline-block;
      margin-right: 10px;
      color: $color-second;
    }

    a {
      cursor: pointer;

      &::after{
        content: ',';
        color: $color-second;
      }
    }

    .selected {
      color: $color-main;
    }
  }
}