.searchbar {
  font-size: 30px;
  line-height: 27px;
  font-family: SourceSansPro-Semibold;
  color: $color-second;
  letter-spacing: 5px;

  &_label {
    font-size: 30px;
    line-height: 27px;
    font-family: SourceSansPro-Semibold;
    color: $color-second;
    letter-spacing: 5px;
  }

  &_input {
    width: 355px;
    height: 59px;
    border-radius: 12px;
    border-color: $color-dark;
    margin: 0 16px;
    text-indent: 15px;
  }

  &_button {
    cursor: pointer;
    width: 139px;
    height: 59px;
    margin: 20px auto;
    background-color: $color-main;
    font-size: 20px;
    line-height: 27px;
    border-radius: 12px;
    color: $color-light;
    text-align: center;
    border-color: $color-main;
  }

  &_counter_songs {
    text-align: center;
    color: $color-light;
  }
}